Source: lunar
Section: utils
Priority: optional
Maintainer: Anthony Fok <foka@debian.org>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.6.2

Package: lunar
Architecture: any
Depends: ${shlibs:Depends}
Description: Chinese Lunar Calendar conversion utility
 The program performs date conversion between the Gregorian Solar Calendar
 (SC) and the Chinese Lunar Calendar (LC).  Given a date in either calendar,
 the program also outputs the corresponding "shengxiao" animal of the year)
 and "ganzhi" characters.  The date range currently covered is from about
 1900 A.D. to 2049 A.D.
