Source: lunar
Section: utils
Priority: optional
Maintainer: Debian Chinese Team <chinese-developers@lists.alioth.debian.org>
Uploaders: Anthony Fok <foka@debian.org>
Build-Depends: debhelper (>> 9)
Standards-Version: 3.9.6
Homepage: http://web.archive.org/web/20051027042122/http://umunhum.stanford.edu/~lee/chicomp/chicomp.html
Vcs-Git: git://anonscm.debian.org/chinese/lunar.git
Vcs-Browser: https://anonscm.debian.org/git/chinese/lunar.git

Package: lunar
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Chinese Lunar Calendar conversion utility
 The program performs date conversion between the Gregorian Solar Calendar
 (SC) and the Chinese Lunar Calendar (LC).  Given a date in either calendar,
 the program also outputs the corresponding "shengxiao" animal of the year)
 and "ganzhi" characters.  The date range currently covered is from about
 1900 A.D. to 2049 A.D.
